{% extends 'layout.twig' %}

{% set module = 'Kindle Niche Sidekick - Single Keyword' %}
{% set nav = 'kns' %}

{% block content %}
<div
    data-countries="{{ countries|json_encode }}"
    data-error-1-middle="<p>Please enter a valid keyword.</p>"
    data-error-1-top="Error #1"
    data-error-2-middle="<p>An unknown error has occurred. Please try again.</p>"
    data-error-2-top="Error #2"
    data-url="{{ url('kns_single_') }}"
    id="kns_single"
    ng-controller="kns_single"
    >
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>{{ module }}</h1>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <form
                class="form-horizontal"
                name="form"
                ng-submit="process()"
                >
                <div class="control-group">
                    <label class="control-label" for="keyword">Keyword</label>
                    <div class="controls">
                        <input
                            class="span12"
                            id="keyword"
                            placeholder="Keyword"
                            type="text"
                            value=""
                            ng-model="keyword"
                            >
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="country">Country</label>
                    <div class="controls">
                        <select
                            class="span12"
                            id="country"
                            ng-model="country"
                            ng-options="country[0] as country[1] for country in countries"
                            ></select>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success" type="submit">
                        <span class="icon-info-sign icon-large"></span>
                        Submit
                    </button>
                    <button class="btn btn-danger" type="reset">
                        <span class="icon-trash icon-large"></span>
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <p class="text-center span12 hide [! spinner == true && 'show' || 'hide' !]">
            <span class="icon-spinner icon-spin icon-2x"></span>
        </p>
    </div>
    <div class="row-fluid">
        <div class="span12 hide [! contents != '' > 0 && 'show' || 'hide' !]">
            <table class="table table-hover table-striped">
                <tbody>
                    <tr>
                        <td>Buyer Behavior</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['buyer_behavior'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['buyer_behavior'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default ng-bind-html="contents['buyer_behavior'][1]|label:contents['buyer_behavior'][1]:true|html"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Competition</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['competition'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['competition'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default ng-bind-html="contents['competition'][1]|label:contents['competition'][1]:false|html"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Optimization</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['optimization'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['optimization'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default ng-bind-html="contents['optimization'][1]|label:contents['optimization'][1]:false|html"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Popularity</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['popularity'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['popularity'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default ng-bind-html="contents['popularity'][1]|label:contents['popularity'][1]:true|html"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Spend ($)</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['spend'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['spend'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default ng-bind-html="contents['spend'][1]|label:contents['spend'][1]:true|html"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Avg. Price ($)</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['average_price'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['average_price'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default>
                                    [! contents['average_price'][1] !]
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Avg. Length</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['average_length'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['average_length'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default>
                                    [! contents['average_length'][1] !]
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td class="narrow right">
                            <span ng-switch on="contents['score'][1]">
                                <span
                                    class="text-error"
                                    ng-switch-when="N/A"
                                    >
                                    <strong>
                                        [! contents['score'][1] !]
                                    </strong>
                                </span>
                                <span ng-switch-default>
                                    [! contents['score'][1] !]
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Title</th>
                    <th class="narrow center">KW In Title</th>
                    <th class="narrow right">
                        Best Seller Rank
                    </th>
                    <th class="narrow right">
                        Price ($)
                    </th>
                    <th class="narrow right">
                        Date Published
                    </th>
                    <th class="narrow right">
                        Average Review
                    </th>
                </tr>
                <tr ng-repeat="item in contents['items']">
                    <td>
                        <a
                            href="[! item.url !]"
                            rel="noreferrer"
                            target="_blank"
                            >[! item.title[0] !]</a>
                    </td>
                    <td class="narrow center">
                        [! item.title[1] !]
                    </td>
                    <td class="narrow right">
                        [! item.best_sellers_rank[0]|number:0 !]
                    </td>
                    <td class="narrow right">
                        [! item.price[0]|number:2 !]
                    </td>
                    <td class="narrow right">
                        [! item.publication_date !]
                    </td>
                    <td class="narrow right">
                        [! item.stars[0]|number:2 !]
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
