{% extends 'layout.twig' %}

{% set module = 'Multiple Keywords Analyzer - Delete' %}
{% set nav = 'kns' %}

{% block content %}
<div id="kns_delete">
    <div class="row-fluid">
        <div class="col-xs-12">
            <div class="page-header">
                {% include 'slots/feedback.twig' %}
                <h1>{{ module }}</h1>
            </div>
            <form
                accept-charset="UTF-8"
                action="{{ url('kns_delete', {'id': id}) }}"
                method="POST"
                >
                <p>Are you sure you want to delete this report?</p>
                <div class="form-actions">
                    <button class="btn btn-success" type="submit">
                        <span class="fa fa-fw fa-info-sign fa-lg"></span>
                        Yes
                    </button>
                    <a class="btn btn-danger" href="{{ url('kns_overview') }}">
                        <span class="fa fa-fw fa-trash fa-lg"></span>
                        No
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
