{% extends 'layout.twig' %}

{% set module = 'Popular Searches' %}
{% set nav = 'ps' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            {% include 'slots/feedback.twig' %}
            <div
                class="btn btn-primary pull-right"
                data-target="#psi"
                data-toggle="modal"
                >
                <span class="icon-info-sign"></span>
                Information
            </div>
            <h1>{{ module }}</h1>
        </div>
        <p>
            Each hour, we scan Amazon for user searches similar to phrases such
            as "books like..." and "books similar to..." to find out what
            people want to read more of, right now. We then identify these
            products and show them to you here so that you have an immediate
            understanding of what's currently in demand.
        </p>
    </div>
</div>
{% include 'slots/ps.twig' %}
{% endblock %}
