assets/*.css
assets/*.js
composer.lock
files/*
!files/*.sql
!files/.htaccess
scripts/*.pyc
tmp/*
!tmp/.htaccess
vendor/*
!vendor/pixeladmin
!vendor/class-phpass.php
development.log
error_log
variables.json
