RedirectMatch 404 /\.git
RedirectMatch 404 /\.gitattributes
RedirectMatch 404 /\.gitignore
RedirectMatch 404 /\.gitkeep
RedirectMatch 404 /\.gitmodules

<Files error_log>
    Order allow,deny
    Deny from all
</Files>

<Files variables.json>
    Order allow,deny
    Deny from all
</Files>

<Files variables.json.sample>
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /tools/current
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
