{
    "application": {
        "debug": ... // Choices: true OR false
    },
    "mysql": {
        "database": "...",
        "driver": "...", // Example: pdo_mysql
        "host": "...",
        "password": "...",
        "use_unicode": ..., // Choices: true OR false
        "user": "..."
    },
    "python": {
        "workon": "..." // Example: zonsidekick.com
    },
    "smtp": {
        "auth_mode": ..., // Example: null
        "encryption": ..., // Example: null
        "host": "...",
        "password": "...",
        "port": "...",
        "username": "..."
    }
}
