{
    "application": {
        "debug": ... // Choices: true OR false
    },
    "broker": "amqp://guest@localhost//",
    "mysql": {
        "database": "...",
        "host": "...",
        "password": "...",
        "user": "..."
    },
    "smtp": {
        "auth_mode": ..., // Example: null
        "encryption": ..., // Example: null
        "host": "...",
        "password": "...",
        "port": "...",
        "username": "..."
    },
    "virtualenv": "..." // Example: /home/{{ username }}/.virtualenvs/apps.zonsidekick.com/bin
}
