@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src:
        local('Open Sans'),
        url('../fonts/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff?')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:
        local('Open Sans'),
        url('../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src:
        local('Open Sans'),
        url('../fonts/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src:
        local('Open Sans'),
        url('../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src:
        local('Open Sans'),
        url('../fonts/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:
        local('Open Sans'),
        url('../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff')
        format('woff');
}

*, button, input, select, textarea {
    font-family: 'Open Sans',sans-serif;
}

a {
    cursor: pointer;
}

hr {
    margin-top: 0;
}

p {
    margin-bottom: 18px;
}

ul {
    margin-bottom: 18px;
    padding-left: 18px;
}

#content-wrapper {
    padding-bottom: 1px;
}

.author {
    margin-bottom: 18px;
    margin-right: 18px;
}

.between {
    margin: 10px -5px 0 -5px;
}

.between .col-xs-6 {
    float: left !important;
    padding: 0 5px;
}

.book {
    margin-bottom: 18px;
    margin-left: 18px;
}

.breadcrumb-label {
    margin-top: 0;
    padding-right: 10px;
}

.btn.clearfix.col-xs-12 {
    margin-bottom: 18px !important;
}

.buttons {
    border-color: #ececec !important;
}

.details p,
.details ul {
    margin: 0;
}

.form-group {
    margin-bottom: 18px;
}

.media img {
    height: 100px;
}

.modal-body {
    padding-bottom: 1px;
}

.modal-footer {
    padding-left: 11px;
    padding-right: 11px;
}

.narrow {
    white-space: nowrap;
    width: 1px;
}

.page-header .row h1 .btn + .btn {
    margin-right: 18px;
}

.page-signin .signin-info {
    text-align: center;
}

.panel-body {
    padding-bottom: 2px;
}

.panel-body .btn + .btn {
    margin-right: 20px;
}

.panel-footer .btn + .btn {
    margin-right: 10px;
}

.popover-content input {
    vertical-align: top;
}

.select2-search:after {
    content: none;
}

.select2 + .form-control,
.select2 + .input-group {
    margin-top: 10px;
}

.switcher {
    float: right;
    vertical-align: middle;
}

.switcher + label {
    margin-bottom: 0;
    vertical-align: middle;
}

.table > tbody + tbody {
    border-top-width: 0;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
}

.table hr {
    margin: 10px 0;
}

.table .header {
    cursor: pointer;
}

.table .table {
    margin-bottom: 0;
}

.table .header.fa-sort-amount-asc,
.table .header.fa-sort-amount-desc {
    padding-right: 21px;
}

.table .header.fa-sort-amount-asc:before,
.table .header.fa-sort-amount-desc:before {
    content: none;
}

.table .header.fa-sort-amount-asc i,
.table .header.fa-sort-amount-desc i {
    margin-top: 3px;
    margin-right: -17px;
}

.theme-default #main-navbar .navbar-header {
    text-align: center;
}

.video {
    display: block;
    height: 230px;
    margin: 0 auto 18px auto;
    width: 408px;
}
