@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src:
        local('Open Sans'),
        url('../fonts/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff?')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:
        local('Open Sans'),
        url('../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src:
        local('Open Sans'),
        url('../fonts/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src:
        local('Open Sans'),
        url('../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src:
        local('Open Sans'),
        url('../fonts/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff')
        format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:
        local('Open Sans'),
        url('../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff')
        format('woff');
}

*, button, input, select, textarea {
    font-family: 'Open Sans',sans-serif;
}

a {
    cursor: pointer;
}

hr {
    margin-top: 0;
}

p {
    margin-bottom: 18px;
}

ul {
    margin-bottom: 18px;
    padding-left: 18px;
}

#content-wrapper {
    padding-bottom: 1px;
}

.breadcrumb-label {
    margin-top: 0;
    padding-right: 10px;
}

.media img {
    height: 100px;
}

.modal-body {
    padding-bottom: 1px;
}

.modal-footer {
    padding-left: 11px;
    padding-right: 11px;
}

.narrow {
    white-space: nowrap;
    width: 1px;
}

.page-header .row h1 .btn + .btn {
    margin-right: 18px;
}

.page-signin .signin-info {
    text-align: center;
}

.panel-body .btn + .btn {
    margin-right: 20px;
}

.panel-footer {
    padding-right: 10px;
}

.panel-footer .btn + .btn {
    margin-right: 10px;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
}

.theme-default #main-navbar .navbar-header {
    text-align: center;
}

.video {
    display: block;
    height: 230px;
    margin: 0 auto 18px auto;
    width: 408px;
}
