{% set types = ['danger', 'info', 'success', 'warning'] %}
{% if app.session.flashBag is defined %}
    {% for type in types %}
        {% for items in app.session.flashBag.get(type) %}
            {% for item in items %}
                <div class="alert alert-{{ type }}" >{{ item }}</div>
                <hr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endif %}
