<p>
    The book tracker allows you to closely monitor your position in both the
    best seller rank AND your chosen keywords. This is valuable data that will
    help you make necessary adjustments to improve sales. When keywords
    under-perform for an extended period of time then it may be wise to change
    them.
</p>
