<div class="fade modal" id="modal-filter-definitions">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >&times;</button>
                <h4 class="modal-title">Filter Definitions</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Category:</strong>
                    <br>
                    The category you wish to apply these filters to. Choose a
                    single category, or all categories.
                </p>
                <p>
                    <strong>Section:</strong>
                    <br>
                    Choose from the three sections available in the Kindle book
                    store.
                </p>
                <p>
                    <strong>Top:</strong>
                    <br>
                    The number of results you wish to consider in each
                    category. We'll display a maximum of 100 results so you may
                    leave this at 100 when analyzing a single category. For All
                    categories, you're able to only consider the top x results
                    for each category through this filter.
                </p>
                <p>
                    <strong>Print Length:</strong>
                    <br>
                    The number of pages each book must contain. Collections of
                    books (listed as a single item) will often show 0 pages. It
                    is best to use the "between" setting in this filter if you
                    wish to avoid those results.
                </p>
                <p>
                    <strong>Price:</strong>
                    <br>
                    The price that books must be listed at.
                </p>
                <p>
                    <strong>Publication Date:</strong>
                    <br>
                    The date range that books must have been published.
                </p>
                <p>
                    <strong>Amazon BSR:</strong>
                    <br>
                    The Amazon Best Seller Rank that books must have.
                </p>
                <p>
                    <strong>Review Average:</strong>
                    <br>
                    The average review rating that books must have. Books
                    without any removes will have an average of 0.
                </p>
                <p>
                    <strong>Prevalence (7 Days):</strong>
                    <br>
                    The days this book must appear in the category for the last
                    7 days. Selecting 7 means that this book has been in the
                    category for at least the last 7 days and selecting 2 means
                    that it has appeared on one other day in the last 7.
                </p>
            </div>
            <div class="modal-footer">
                <a
                    class="btn got-it"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >Got it, thanks!</a>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="modal-keyword-analyzer-multiple">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >&times;</button>
                <h4 class="modal-title">New User Guide</h4>
            </div>
            <div class="modal-body">
                <p>
                    Welcome to the Keyword Analyzer new user guide.
                </p>
                <p>
                    Enter the keywords you wish to analyze in the Keywords box.
                    This box will allow scrolling as more keywords are entered
                    and may be resized for viewing by dragging the handle in
                    the lower right corner.
                </p>
                <p>
                    When you're ready to analyze, press the green Submit button
                    below the Keywords box. Your report will begin to generate
                    and export options will appear. Please note that the
                    download and email buttons will only become available when
                    your report completes. If you wish to have both the CSV and
                    PDF report e-mailed to you automatically, place a check in
                    the "Automatically email on completion" box. The on-screen
                    report will display information at a "high level" whereas
                    the PDF report will display <strong>very</strong> detailed
                    information. It is highly recommended that you download the
                    PDF report to fully understand our analysis.
                </p>
                <p>
                    <strong>Competition</strong> is calculated by determining
                    the "market type" of each keyword. We've modelled each
                    keyword by analyzing the market share owned by current
                    sellers to determine whether or not the keyword appears to
                    be accessible for new sellers. If 99% of sales within a
                    keyword belong to just one book, the odds of your
                    publication earning money are very low without a major
                    following. Ideal keywords are those in which buyers
                    purchase a variety of books, this typically means there's
                    no definitive "best product" for users searching for that
                    keyword. We recommend choosing keywords with low
                    competition so that your quality books may grab enough
                    sales and reviews to rise to a dominating position.
                </p>
                <p>
                    Brief explanations of each data point shown in the
                    on-screen report may be viewed by hovering your mouse over
                    their titles at any time.
                </p>
                <p>
                    You may open this guide at any time by pressing the blue
                    information icon in the upper right corner.
                </p>
            </div>
            <div class="modal-footer">
                <a
                    class="btn got-it"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >Got it, thanks!</a>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="modal-keyword-suggester">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >&times;</button>
                <h4 class="modal-title">New User Guide</h4>
            </div>
            <div class="modal-body">
                <p>
                    This tool grabs keywords that are currently being searched
                    for on Amazon. The data obtained via this tool is extremely
                    valuable because it alllows you to put your products
                    directly in front of your target audience.
                </p>
                <p>
                    For best results with Kindle marketing, grab a list of
                    keywords from phrases that interest you and then analyze
                    them in the Keyword Analyzer.
                </p>
                <p>
                    Eliminate the guesswork with Keyword Suggester.
                </p>
            </div>
            <div class="modal-footer">
                <a
                    class="btn got-it"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >Got it, thanks!</a>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="modal-popular-searches">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >&times;</button>
                <h4 class="modal-title">New User Guide</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <iframe
                        allowfullscreen
                        class="video"
                        frameborder="0"
                        height="315"
                        src="//www.youtube.com/embed/W5mYlrtDpQI?enablejsapi=1"
                        width="560"
                        ></iframe>
                </p>
            </div>
            <div class="modal-footer">
                <a
                    class="btn got-it"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >Got it, thanks!</a>
            </div>
        </div>
    </div>
</div>
<div
    class="fade modal"
    id="modal-popular-searches-how-do-we-know-this"
    >
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >&times;</button>
                <h4 class="modal-title">How do we know this?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Each hour, we scan Amazon for user searches similar to
                    phrases such as "books like..." and "books similar to..."
                    to find out what people want to read more of, right now.
                </p>
                <p>
                    We then identify these products and show them to you here
                    so that you have an immediate understanding of what's
                    currently in demand.
                </p>
            </div>
            <div class="modal-footer">
                <a
                    class="btn got-it"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >Got it, thanks!</a>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="modal-top-100-explorer">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >&times;</button>
                <h4 class="modal-title">New User Guide</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <iframe
                        allowfullscreen
                        class="video"
                        frameborder="0"
                        height="315"
                        src="//www.youtube.com/embed/Iwd5VJa-IPk?enablejsapi=1"
                        width="560"
                        ></iframe>
                </p>
            </div>
            <div class="modal-footer">
                <a
                    class="btn got-it"
                    aria-hidden="true"
                    data-dismiss="modal"
                    >Got it, thanks!</a>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" ng-controller="modal">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    class="close"
                    type="button"
                    aria-hidden="true"
                    ng-click="click()"
                    >&times;</button>
                <h4 class="modal-title">[! top !]</h4>
            </div>
            <div class="modal-body" ng-bind-html="middle|html"></div>
            <div class="modal-footer">
                <a
                    class="btn"
                    ng-click="click()"
                    >Close</a>
            </div>
        </div>
    </div>
</div>
