<a
    class="btn pull-right"
    data-target="#popular_searches_how_do_we_know_this"
    data-toggle="modal"
    id="how-do-we-know-this"
    >
    <span class="fa fa-fw fa-question-circle"></span>
    How do we know this?
</a>
